[gcode_macro _FG28]
# rename_existing: G28_BASE klicky already uses homing_override
gcode:
    _DEBUG MSG={rawparams}

    {% set axes = (rawparams or "X Y Z").upper().split() %}
    {% set axis_pos = { "X": "X" ~ (printer.toolhead.axis_maximum.x - 10),
                        "Y": "Y" ~ (printer.toolhead.axis_maximum.y - 10),
                        "Z": "X208.2 Y" ~ printer.toolhead.axis_maximum.y ~ " Z10" } %}

    {% for axis in axes %}
        _DEBUG MSG={axis}
    {% endfor %}

    {% for axis in axes %}
        {% if (axis | lower) in printer.toolhead.homed_axes %}
            G1 {axis_pos[axis]} F9000
            G28 {axis}
        {% else %}
            CG28
        {% endif %}
    {% endfor %}


[gcode_macro PROOF]
gcode:
    _DEBUG MSG={rawparams}
