[gcode_macro FG28]
# rename_existing: G28_BASE klicky already uses homing_override
gcode:
    {% set axes = (rawparams or "X Y Z").upper().split() %}
    {% set axis_pos = { "X": "X" ~ (printer.toolhead.axis_maximum.x - 10),
                        "Y": "Y" ~ (printer.toolhead.axis_maximum.y - 10),
                        "Z": "X208.2 Y" ~ printer.toolhead.axis_maximum.y ~ " Z10" } %}

    {% for axis in axes %}
        {% if (axis | lower) in printer.toolhead.homed_axes %}
            G1 {axis_pos[axis]}
            G28 {axis}
        {% else %}
            CG28
        {% endif %}
    {% endfor %}
