[gcode_macro FAST_G28]
# rename_existing: G28_BASE klicky already uses homing_override
gcode:
    {% set params = (rawparams or "X Y Z").upper().split() %}

    _status_homing

    # {% if ("X" in params) or (params == "") and "x" in homed %}
    #     # SET_CONFIG_VALUE SECTION=stepper_x KEY=homing_speed VALUE=80
    #     G90
    #     G0 X{printer.toolhead.axis_maximum.x-10} F9000
    #     G28_BASE X
    # {% endif %}
    # {% if ("Y" in params) or (params == "") and "y" in homed %}
    #     # SET_CONFIG_VALUE SECTION=stepper_y KEY=homing_speed VALUE=80
    #     G90
    #     G0 Y{printer.toolhead.axis_maximum.y-10} F9000
    #     G28_BASE Y
    # {% endif %}
    # {% if ("Z" in params) or (params == "") and "z" in homed %}
    #     # SET_CONFIG_VALUE SECTION=stepper_z KEY=homing_speed VALUE=20
    #     G90
    #     G0 Z{printer.toolhead.axis_maximum.z-10} F9000
    #     G28_BASE Z
    # {% endif %}

    {% set axis_pos = { "X": "X" ~ "{(printer.toolhead.axis_maximum.x - 10)}",
                        "Y": "Y" ~ "{(printer.toolhead.axis_maximum.y - 10)}",
                        "Z": "X208.2 Y{printer.toolhead.axis_maximum.y} Z10" } %}

    {% for axis in params %}
        _DEBUG MSG={axis}
        _DEBUG MSG={params}
        {% if (axis | lower) in printer.toolhead.homed_axes and axis in params %}
            # {% if axis == "Z" %}
            #     G1 X208.2 Y300 F9000
            # {% endif %}
            # G90
            # G0 {axis_pos[axis]} F9000
            G1 {axis_pos[axis]}
            _DEBUG MSG="G28 {axis} FAST"
            # G28 {axis}
        {% else %}
            CG28
        {% endif %}
    {% endfor %}

    # G28_BASE {rawparams}
    _status_ready
